@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --color-graybg: #c7c7c7;
  --color-darkergraybg: #a9a9a9;
  --color-heading: #094067;
  --color-paragraph: #5f6c7b;
  --color-button: #3da9fc;
  --font-poppins: "Poppins";
  --animate-floatBottom: floatingBottom ease-in-out 3s infinite;
  --animate-floatTop: floatingTop ease-in-out 3s infinite;
  --animate-floatSlow: floatingSlow ease-in-out 6s infinite;

  @keyframes floatingBottom {
    0%,
    100% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
  }

  @keyframes floatingTop {
    0%,
    100% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  @keyframes floatingSlow {
    0%,
    100% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-5px);
    }
  }
}
